<h1>Listening</h1>

<div class="progress">
  <div class="progress-bar" role="progressbar" [style.width.%]="progress" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div *ngIf="currentQuestion">
  <div class="form-group">
    <a class="btn" role="button" aria-pressed="true" (click)="playSound()">
      <i class="btn fa fa-volume-up" aria-hidden="true"></i>
    </a>
    <img src="{{currentQuestion.answer.image}}" class="img-thumbnail mx-auto d-block">

    <div *ngIf="showCorrectAnswer">
      <h4 *ngIf="correctAnswer">Correct!</h4>
      <h4 *ngIf="!correctAnswer">Wrong answer!</h4>
      <h4>Your answer: {{answerText}}</h4>
      <h4>Correct: {{currentQuestion.answer.answerText}}</h4>
      <button class="btn btn-primary" (click)="nextWord()">Next</button>
    </div>
  </div>

  <div *ngIf="!showCorrectAnswer" class="form-group col-sm-6">
    <input [(ngModel)]="answerText" (keyup.enter)="answer()" placeholder="Input answer" class="form-control"/>
  </div>
</div>

<div *ngIf="finished">
  <h2>Congratulations!<br>You have finished writing practice!</h2>
  <button class="btn btn-primary" (click)="goBack()">Go back</button>
</div>
