<div *ngIf="sets && currentSet" class="btn-group" role="group">
  <button routerLink="/dictionary/set/{{currentSet.id}}" type="button" class="btn btn-secondary">List words</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      {{currentSet.name}}
    </button>
    <div class="dropdown-menu">
      <a *ngFor="let set of sets" class="dropdown-item"
         routerLink="../{{set.id}}">
        {{set.name}}
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Quiz</h3>
        <p class="card-text">Practice mode description.</p>
        <a routerLink="quiz" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Writing test</h3>
        <p class="card-text">Practice mode description.</p>
        <a routerLink="writing" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Listening test</h3>
        <p class="card-text">Practice mode description.</p>
        <a routerLink="listening" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Self check</h3>
        <p class="card-text">Practice mode description.</p>
        <a routerLink="check" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Flashcards</h3>
        <p class="card-text">Practice mode description.</p>
        <a routerLink="cards" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>
</div>
