<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Quiz</h3>
        <p class="card-text">Practice mode description.</p>
        <a routerLink="quiz" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Writing test</h3>
        <p class="card-text">Practice mode description.</p>
        <a routerLink="writing" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Listening test</h3>
        <p class="card-text">Practice mode description.</p>
        <a routerLink="listening" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Flashcards</h3>
        <p class="card-text">Practice mode description.</p>
        <a routerLink="cards" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>
</div>
