<div *ngIf="sets" class="btn-group" role="group">
  <button *ngIf="currentSet" routerLink="/dictionary/set/{{currentSet.id}}" type="button" class="btn btn-secondary">List
    words
  </button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      {{setId ? currentSet.name : "All Words"}}
    </button>
    <div class="dropdown-menu">
      <a *ngIf="setId" class="dropdown-item" routerLink="..">All Words</a>
      <a *ngFor="let set of sets" class="dropdown-item"
         routerLink="/dictionary/practice/{{set.id}}">
        {{set.name}}
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="card-deck col-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Quiz</h3>
        <p class="card-text">Practice mode description.</p>
      </div>
      <div class="card-footer">
        <a routerLink="quiz" [queryParams]="{originQuestions: true}"
           class="btn btn-secondary" role="button" aria-pressed="true">Word - Translation</a>
        <a routerLink="quiz" [queryParams]="{originQuestions: false}"
           class="btn btn-secondary" role="button" aria-pressed="true">Translation - Word</a>
      </div>
    </div>

    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Writing test</h3>
        <p class="card-text">Practice mode description.</p>
      </div>
      <div class="card-footer">
        <a routerLink="writing" [queryParams]="{originQuestions: true}"
           class="btn btn-secondary" role="button" aria-pressed="true">Word - Translation</a>
        <a routerLink="writing" [queryParams]="{originQuestions: false}"
           class="btn btn-secondary" role="button" aria-pressed="true">Translation - Word</a>
      </div>
    </div>
  </div>

  <div class="card-deck mt-4 col-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Listening test</h3>
        <p class="card-text">Practice mode description.</p>
      </div>
      <div class="card-footer">
        <a routerLink="listening" class="btn btn-secondary">Start</a>
      </div>
    </div>

    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Self check</h3>
        <p class="card-text">Practice mode description.</p>
      </div>
      <div class="card-footer">
        <a routerLink="check" [queryParams]="{originQuestions: true}"
           class="btn btn-secondary" role="button" aria-pressed="true">Word - Translation</a>
        <a routerLink="check" [queryParams]="{originQuestions: false}"
           class="btn btn-secondary" role="button" aria-pressed="true">Translation - Word</a>
      </div>
    </div>
  </div>

  <div class="card-deck mt-4 col-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Flashcards</h3>
        <p class="card-text">Practice mode description.</p>
      </div>
      <div class="card-footer">
        <a routerLink="cards" class="btn btn-secondary">Start</a>
      </div>
    </div>
  </div>
</div>
