<h1>Quiz</h1>

<div class="progress">
  <div class="progress-bar" role="progressbar" [style.width.%]="progress" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div *ngIf="currentQuestion">
  <div class="form-group">
    <img src="{{currentQuestion.answer.image}}" class="img-thumbnail mx-auto d-block">
    <h2>
      <a class="btn" role="button" aria-pressed="true" (click)="playSound()">
        <i class="btn fa fa-volume-up" aria-hidden="true"></i>
      </a>
      {{currentQuestion.questionText}}
    </h2>
  </div>

  <div class="list-group">
    <a *ngFor="let alternative of currentQuestion.alternatives"
       (click)="answer(alternative)"
       [ngClass]="highlightOnAnswer.get(alternative)"
       class="list-group-item list-group-item-action">{{alternative}}</a>
  </div>

  <button *ngIf="alreadyAnswered" class="btn btn-primary" (click)="nextQuestion()">Next</button>
</div>

<div *ngIf="finished">
  <h2>Congratulations!<br>You have finished quiz!</h2>
  <button class="btn btn-primary" (click)="goBack()">Go back</button>
</div>
