<div *ngIf="wordSet">
  <h2>{{wordSet.name}}</h2>
  <p>{{wordSet.description}}</p>
  <input type="text" [(ngModel)]="newWordText" placeholder="word">
  <input type="text" [(ngModel)]="newWordTranslation" placeholder="translation">
  <button (click)="addWord()" class="btn btn-primary">Add</button>
  <button routerLink="practice/{{wordSet.id}}" class="btn btn-primary">Practice</button>
  <ul class="list-group">
    <li *ngFor="let studiedWord of wordSet.studiedWords" class="list-group-item justify-content-between">
      {{studiedWord.word.text}}
      <span class="badge badge-default badge-pill">{{studiedWord.stage}}</span>
    </li>
  </ul>
</div>
