<h1>Quiz</h1>

<div class="progress thin mb-3">
  <div class="progress-bar" role="progressbar" [style.width.%]="progress" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div *ngIf="currentQuestion">
  <div class="form-group">
    <img src="{{currentQuestion.answer.image}}" class="img-thumbnail mx-auto d-block">
    <h2>
      <a *ngIf="alreadyAnswered" class="btn" role="button" aria-pressed="true" (click)="playSound()">
        <i class="btn fa fa-volume-up" aria-hidden="true"></i>
      </a>
      {{currentQuestion.questionText}}
    </h2>
  </div>

  <div class="list-group">
    <a *ngFor="let alternative of currentQuestion.alternatives"
       (click)="answer(alternative)"
       [ngClass]="highlightOnAnswer.get(alternative)"
       class="list-group-item list-group-item-action">{{alternative}}</a>
  </div>

  <button *ngIf="alreadyAnswered" class="btn btn-primary mt-3" (click)="nextQuestion()">Next</button>
</div>

<div *ngIf="finished">
  <practice-summary [summary]="summary()"></practice-summary>

  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 text-center mx-auto">
      <div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="goBack()">Go to trainings</button>
        <button *ngIf="setId" type="button" class="btn btn-secondary" routerLink="/dictionary/set/{{setId}}">Go to set
        </button>
      </div>
    </div>
  </div>
</div>
