<div class="mb-3 col-sm-6 mx-auto d-block">
  <div class="card">
    <div class="card-header">Summary</div>
    <div class="card-body">
      <h4 class="card-title">Score: {{score.toFixed(2)}}%</h4>
      <ul class="list-group list-group-flush">
        <li *ngIf="summary.correct.length > 0" class="list-group-item">
          <div>Correct</div>
          <ul>
            <li *ngFor="let word of summary.correct">
              <span style="color: green">{{word}}</span>
            </li>
          </ul>
        </li>
        <li *ngIf="summary.incorrect.length > 0" class="list-group-item">
          <div>Incorrect</div>
          <ul>
            <li *ngFor="let word of summary.incorrect">
              <span style="color: red">{{word}}</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
