<h1>Your stats</h1>

<div class="card-group">
  <div class="card text-center">
    <div class="card-block">
      <h4 class="card-title">Total Words</h4>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-block">
      <h4 *ngIf="statistic" class="card-title">{{statistic.totalWords}}</h4>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card text-center">
    <div class="card-block">
      <h4 class="card-title">Learned Words</h4>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-block">
      <h4 *ngIf="statistic" class="card-title">{{statistic.learnedWords}}</h4>
    </div>
  </div>
</div>
